<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scalse=1, shrink-to-fit=no">
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/layout/layout.css}">
	<!-- JS -->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title></title>
</head>
<body>
	<!-- ヘッダー -->
	
	<!-- メニュー -->
	
	<!-- コンテンツ -->
	
	
</body>
</html>